extends layout

block content

    h1 #{title}: #{brand.name}

    p #[strong Logo:] #{brand.logo}
    p #[strong Desc:] #{brand.desc}
    hr



    p Do you really want to delete this shoe?

    form(method='POST' action='')
     div.form-group
      input#id.form-control(type='hidden', name='id', required='true', value=shoe.id)

     button.btn.btn-primary(type='submit') Delete